*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Inter',sans-serif;
}
.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
header{
  padding: 20px 0;
}
.logo{
  margin: 16px;
}
header{
  padding-top: 16px;
}
nav{
  max-width: 1600px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between ;
  background: #ffffff;
  padding: 15px 0;
}
.navlinks{
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
}
nav .navlinks a{
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}
.btn-1{ 
  padding: 12px 16px 12px 16px;
  width: 164px;
  height: 44px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: white;
  background-color: #30B868 ;
  border: none;
  line-height: 19px;
  margin: 24px auto;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 6%;
  cursor: pointer;
 }
 

