*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Inter',sans-serif;
}
.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
header{
  padding: 20px 0;
}
.logo{
  margin: 16px;
}
header{
  padding-top: 16px;
}
nav{
  max-width: 1600px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  background: #ffffff;
  padding: 15px 0;
}
.navlinks{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: px;
  align-items: center;
}

nav .navlinks a{
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}
.nav-btn{ 
  padding: 12px 16px 12px 16px;
  width: 164px;
  height: 44px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: white;
  background-color: #30B868 ;
  border: none;
  line-height: 19px;
  margin: 24px auto;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 6%;
  cursor: pointer;
 }

 
 .hero-content{
 width: 100%;
 max-width: 1600px;
 height: 583px;
 margin: o auto;
 text-align: center;
 background:url('./assets/hero-bg.png');
 background-repeat: no-repeat;
 padding:70px 120px 134px 120px ;
 align-items: center;
 justify-content: center;
 }
.sec-btn-one{
  background-color: #30B868;
  border: none;
  padding:16.5px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  gap: 16px;
}
.sec-btn-one a{
  text-decoration: none;
  color: white;
}
.sec-btn-two{
  background-color: #30B868;
  border: none;
  padding:16.5px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  gap: 16px;
}
.sec-btn-two a{
  text-decoration: none;
  color: white;
}
.early-access {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-top: 16px;
    background: #ffffff;
    color: #009c39;
    padding: 8px 16px;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 500;
}
.status-icon{
    width: 14px;
    height: 14px;
    background: #22c55e;
    border-radius: 50%;
    position: relative;
}
.status-icon::after {
    content: "";
    width: 6px;
    height: 6px;
    background: #bbf7d0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-early-access{
 font-size: 16px;
 font-weight: 500;
 line-height: 19px;
 text-align: center;
}
.section-heading
{
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  text-align: centeR;
  padding-top: 16PX;
}
.section-p{
  width: 1360px;
  height: 60px;
  padding-top: 16px;
  font-size: 18px;
  font-weight: 700px;
  line-height: 24px;
  text-align: center;
  color: white;
}
.btm-btn{
  padding-top: 32px;

}



.brain-wash{
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  padding: 30px 120px 120px 120px;
 
}
.skill-box{
  display: flex;
  align-items: center;
  gap: 24px;
 margin: 44px 120px auto 120px;
  margin: 44px 120px;
  justify-content: center;
}
.skill-card img{
  width: 60px;
  height: 60px;
  background-color: #F95555 ;
  border-radius: 50%;
  justify-content: center;
  padding: 10px;
}
.skill-card{
border-radius: 8px;
box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
justify-content: center;
}
.card-header{
  font-size: 24px;
  margin: 16px 24px;
}
.sk-text{
  color: #627382
}
#chobi{
  margin-left: 120px;
  margin-right: 120px;
}
.pic-txt{
  display: flex;
  gap: 60px;
}
.picsec{
  width: 600px;
  height: 600px;
  border-radius: 12px;
}
.arekta-text{
 font-size: 16px;
 color: #30B868;
 font-weight: 500;
 line-height: 20px;
 margin-top: 120px;
}
.arokta-text{
  margin-top: 16px;
  font-size: 48px;
  font-style: bold;
  font-weight: 700;
  line-height: 58px;
  text-align: left;
  color: #000000;
}
.ajaira-lekha{
  width: 700px;
font-weight: 400;
line-height: 20px;
text-align: left;
font-size: 16px;
padding-top: 40px;
}
.feature-list {
  margin: 0;
  padding-top: 20px;
}

.feature-list dt {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
}

.feature-list dt::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  background-image: url('./assets/CheckCircle.png'); 
  background-size: contain;
  background-repeat: no-repeat;
}
.bottom-part{
  display: flex;
  flex-direction: column;
  padding: 80px 40px auto 40px;
  margin: 120px;
  background-color: #F7F6F2;
  text-align: center;

}
.sachead{
  align-items: center;
}
.boro-txt{
  padding-top: 80px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  line-height: 48px;
  color: #001931;
}
.p-tag{
  padding-top: 16px;
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}